<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
</div>

<h2>Posts</h2>
<%= check_and_list_posts(@user) %>

<h2>Comments</h2>
<%= check_and_list_comments(@user) %>

<h2>Favorites</h2>
<% avatar_url2 = @user.avatar_url(48) %>
 <% @user.favorites.each do |fav| %>
 <div class="media">
   <div class="media-left">
     <%= image_tag avatar_url2, class: 'media-object' %>
   </div>
   <div class="media-body">
     <%= render partial: "posts/post", locals: {post: fav.post } %>
   </div>
 </div>
 <% end %>
